/*///////////\ Header Section \///////////*/

/* root block of header section*/
.header {
  height: 95vh;
  width: 100vw;
  background: linear-gradient(
      to left top,
      rgba(2, 62, 138, 0.4),
      rgba(03, 04, 94, 0.8)
    ),
    url("../../../img/pexels-njeromin-27051404.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  /* logo section*/
  &__logo-box {
    position: absolute;
    color: $color-blue-dark;
    top: 6rem;
    left: 6rem;
    font-family: "lato";

    


  
  }
  &__logo--position{
    font-size: 6rem;
    @include respond(max-393){
      font-size: 5rem;
    }
  }
  &__logo--title{
    display: inline-block;
    font-size: 2.7rem;
    @include respond(max-393){
      font-size: 2rem;
    }
  }
 

 

  /* header typography section*/
  &__text-box {
    @include centerInBlock;
    text-align: center;
  }
}
