// centering element in another element
@mixin centerInBlock {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}





/*
spacial Note:
----------------
max-width = higher to lower (Desktop first)
min-width: lower to higher (Mobile first)
*/  





// Media quarry manager
// 0 to 600px: phone
// 600 to 900px: Tablet portrait
// 900 to 1280px: Tablet Landscape
// 1280 to 1800px: Desktop

// breakpoint argument choice
@mixin respond($breakpoint){
  //--------------------------------------
  // transform "px" to "em" where 1em = 16px

  @if($breakpoint == max-360){
    @media(max-width: 22.5em){@content}; // 360px/16px = 22.5em
  }
  @if($breakpoint == max-479){
    @media(max-width: 29.9375em){@content}; // 479px/16px = 29.9375em
  }
  
  @if($breakpoint == max-600){
    @media(max-width: 37.5em){@content}; // 600px/16px = 37.5em
  }
  @if($breakpoint == tab-port-max-980){
    @media(max-width: 61.25em){@content}; // 980px/16px = 61.25em
  }
  @if($breakpoint == tab-port-max-900){
    @media(max-width: 56.25em){@content}; // 900px/16px = 56.25em
  }
  @if($breakpoint == tab-land-max-1280){
    @media(max-width: 80em){@content}; // 1280px/16px = 80em
  }
  @if($breakpoint == desktop-min-1921){
    @media(min-width: 120.0625em){@content}; // 1921px/16px = 120.0625em
  }
  
}



// Desktop Screen Resolution Stats Bangladesh
// Feb 2024 - Feb 2025

// 1366x768
// 21.93%

// 1920x1080
// 20.74%

// 1536x864
// 9.91%

// 1280x720
// 7.78%

// 360x800
// 5.9%

// 1440x900
// 2.79%

// Tablet Screen Resolution Stats Bangladesh
// Feb 2024 - Feb 2025

// 1280x720
// 34.2%

// 601x962
// 13.31%

// 768x1024
// 5.8%

// 601x1007
// 3.72%

// 600x1024
// 3.51%

// 534x854
// 3.21%

// Mobile Screen Resolution Stats Bangladesh
// Feb 2024 - Feb 2025

// 360x800
// 18.84%

// 360x806
// 7.45%

// 385x854
// 6.74%

// 393x873
// 6.63%

// 360x640
// 4.34%

// 360x760
// 3.37%
