.u-center-txt {
  text-align: center;
}
.u-margin-bottom-big {
  margin-bottom: 8rem;

  @include respond(tab-port-max-900){
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  @include respond(max-600){
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
}
.u-margin-bottom-medium {
  margin-bottom: 4rem;
}
.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

// fonts sizes
.font-size--large {
  font-size: 8rem;

 
}
.font-size--medium {
  font-size: 6rem;
}
.font-size--small {
  font-size: 2.7rem;
}
.font-size--default {
  font-size: 1.6rem;
}

// gradient color inside text
.u-text-gradient {
  background: linear-gradient(
    to right,
    rgba($color-blue-light, 1),
    rgba($color-blue-dark, 0.7)
  );
  background-clip: text;
  color: transparent;
}
